.header {
  background-color: CornflowerBlue;
  text-align: center;
}

.about-me {
  font-size: 20px;
  opacity: 0.5;
}

.title {
  font-weight: bold;
}
body {
  font-family: Georgia;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/soccer.jpeg");
}

h1{
  color:Azure;
}

*{
  color:white;
}
